@media (min-width: 800px) and (max-width:960px) {
    .image_container {
        width: 100%;
        height: auto;
    }

    .header_container {
        height: 50px;
    }

    .menu_section {
        font-size: 11.06px;
    }

    .menu_section_all_articles {
        font-size: 11.06px;
    }

        .menu_section_all_articles ul {
            margin-top: 17px;
        }

    .menu_section_article_page {
        font-size: 11.06px;
    }

        .menu_section_article_page ul {
            padding-left: 55%;
            margin-top: 17px;
        }

    .logo_section img {
        max-height: 50%;
    }

    .menu_section ul {
        margin-left: 20%;
        margin-top: 17px;
    }

    .about_me_text_section {
        width: 100%;
        height: 300px;
    }

    .about_me_image_section {
        width: 100%;
        margin: 0 0 0 0;
    }

    .section_title_header_text_container_wider {
        font-size: 12px;
        width: 50%;
    }

    .left_line_container_smaller {
        display: table;
        float: left;
        margin-left: 7%;
        width: 17%;
        height: 43px;
    }

    .right_line_container_smaller {
        display: table;
        float: right;
        margin-right: 7%;
        width: 17%;
        height: 43px;
    }

    .about_me_image_section img {
        width: auto;
        height: 77.21%;
        margin-top: 5%;
        margin-left: 29%;
        margin-right: 0px;
        margin-bottom: 0px;
    }

    .about_me_container {
        height: 620px;
    }

    .services_simple_text {
        height: 330px;
    }

    .about_me_text {
        font-size: 14px;
        margin-top: -10px;
        margin-right: 5%;
        margin-left: 5%;
    }

    .services_container {
        height: 2900px;
    }

    .services_map_birth {
        height: 1200px;
    }

    .services_muhurta {
        height: 150px;
    }

    .article_header_container {
        padding-bottom: 0px;
    }

    .services_capability {
        height: 120px;
    }

    .services_astrology_lessons {
        height: 600px;
    }

    .astrology_lessons_text_not_adaptive {
        display: none;
    }

    .astrology_lessons_text_adaptive {
        display: block;
    }

    .astrology_lessons_text_adaptive_text {
        font-size: 10px;
    }

    .centered_text {
        margin-top: 1.5em;
    }

    .order_services_container {
        width: 100%;
        height: 1100px;
    }

    .contacts {
        width: 100%;
        height: 850px;
    }

    .contasts_image_container {
        width: 48%;
        height: auto;
        margin: 0 auto;
        border-width: 10px;
        border-style: double;
        border-color: rgb(245,245,245);
    }

    .contacts_table_one_row {
        display: block;
    }

    .contacts_table_two_row {
        display: none;
    }

    .copyright_container {
        display: none;
    }

    .footer_container p {
        padding-left: 24%;
    }
}
