<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [ 
<!ELEMENT Article ANY>
<!ATTLIST Article id ID #REQUIRED>
<!ELEMENT Articlesfolder ANY>
<!ATTLIST Articlesfolder id ID #REQUIRED>
<!ELEMENT Articlespage ANY>
<!ATTLIST Articlespage id ID #REQUIRED>
<!ELEMENT Vedayou ANY>
<!ATTLIST Vedayou id ID #REQUIRED>

]>
<root id="-1">
  <Vedayou id="1047" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2016-02-14T14:50:27" updateDate="2016-02-14T14:53:02" nodeName="Vedayou" urlName="vedayou" path="-1,1047" isDoc="" nodeType="1046" creatorName="vedayou" writerName="vedayou" writerID="0" template="0" nodeTypeAlias="Vedayou">
    <Articlespage id="1051" parentID="1047" level="2" creatorID="0" sortOrder="0" createDate="2016-02-14T15:33:04" updateDate="2016-02-14T15:33:04" nodeName="Страница статей" urlName="страница-статей" path="-1,1047,1051" isDoc="" nodeType="1049" creatorName="vedayou" writerName="vedayou" writerID="0" template="0" nodeTypeAlias="Articlespage" />
    <Articlesfolder id="1052" parentID="1047" level="2" creatorID="0" sortOrder="1" createDate="2016-02-14T15:33:51" updateDate="2016-02-14T15:35:21" nodeName="Статьи" urlName="статьи" path="-1,1047,1052" isDoc="" nodeType="1048" creatorName="vedayou" writerName="vedayou" writerID="0" template="0" nodeTypeAlias="Articlesfolder">
      <Article id="1053" parentID="1052" level="3" creatorID="0" sortOrder="0" createDate="2016-02-14T15:35:05" updateDate="2016-02-14T15:48:02" nodeName="Статья номер 1" urlName="статья-номер-1" path="-1,1047,1052,1053" isDoc="" nodeType="1050" creatorName="vedayou" writerName="vedayou" writerID="0" template="0" nodeTypeAlias="Article">
        <title><![CDATA[Статья 1 аыволраывралыо]]></title>
        <body><![CDATA[<p>Статья 1 аыволраывралыо цфтвдлц в\ </p>
<p>фц вфцвлфцжвфц</p>
<p> фц</p>
<p> </p>
<p><strong>фц в</strong></p>
<p><strong>фцвфцвджлфцвждлц вфц</strong></p>
<p><strong> </strong></p>
<p><strong>фц вфцв флцвжлфцджв фцв цфв</strong></p>
<p> фц вфцв</p>]]></body>
        <Icon>1056</Icon>
        <Headerimage>1056</Headerimage>
      </Article>
      <Article id="1054" parentID="1052" level="3" creatorID="0" sortOrder="1" createDate="2016-02-14T15:35:31" updateDate="2016-02-14T15:48:24" nodeName="Статья номер 2" urlName="статья-номер-2" path="-1,1047,1052,1054" isDoc="" nodeType="1050" creatorName="vedayou" writerName="vedayou" writerID="0" template="0" nodeTypeAlias="Article">
        <title><![CDATA[фвр уйгцрщйш 2 34рщш р 12]]></title>
        <body><![CDATA[<p>цвфцвфв  фвофдлв фцв </p>
<p>фв фцвлфоцвдф вфцв</p>
<p> фцв офцв офцхв зфцв ф</p>
<p>цв фцв офцзщво фзц з</p>]]></body>
        <Icon>1057</Icon>
        <Headerimage>1058</Headerimage>
      </Article>
    </Articlesfolder>
  </Vedayou>
</root>