<div class="content_divider_bottom">
    <div class="divider_container">
        <div class="left_divider">
            <div class='left_bottom_ornament'></div>
            <div class="left_bottom_divider_ornament"></div>
        </div>
        <div class="right_divider">
            <div class='right_bottom_ornament'></div>
            <div class='right_bottom_divider_ornament'></div>
        </div>
    </div>
</div>
