@font-face {
    font-family: "OpenSansRegular";
    src: url("/Content/Fonts/OpenSansRegular.eot");
    src: url("/Content/Fonts/OpenSansRegular.eot?#iefix")format("embedded-opentype"),
    url("/Content/Fonts/OpenSansRegular.woff") format("woff"),
    url("/Content/Fonts/OpenSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}