@media (min-width: 960px)  and (max-width: 1000px){
	.image_container
	{
		width:100%;
		height:296px;
		float: left;
		background:url(/Content/Images/main_page_header_image_max_width_960.png);
		background-size:100% 296px;
		/*tricks for IE 8*/
		filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/Content/Images/main_page_header_image_max_width_960.png', sizingMethod='scale'); 
		-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/Content/Images/main_page_header_image_max_width_960.png', sizingMethod='scale')";

	}

	.menu_section {
		font-size: 14.06px;
	}

	.header_container {
		height: 60px;
	}

	.logo_section img {
		max-width: 100%;
		max-height: 60%;
	}

	.about_me_text text{
		font-size: 15px;
	}

	.services_simple_text {
		height: 220px;
	}
	.services_map_birth {
		height: 1100px;
	}

	.astrology_lessons_text_not_adaptive{

		display: none;
	}

	.astrology_lessons_text_adaptive{
		display: block;

	}

	.astrology_lessons_text_adaptive_text{
		font-size: 15px;
	}

	.services_container {

		height: 2720px;
	}

	.order_services_container {

		height: 1050px;
	}

	.contacts {
		height: 600px;
	}

	.footer_container p {
		padding-left: 8%;
	}

	.desc {

		font-size: 15px;
	}

	.desc_union {

		font-size: 15px;
	}

	.contacts_table_container table{
		border-collapse: separate;
		border-spacing: 10px 5px;
	}