@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
   @Styles.Render("~/bundles/css")
</head>
<body>
    <div class='wrapper'>
       <div class='header_container'>header</div>
	   <div class='image_container'>image</div>
	   <div class='mainPage_container'>main</div>
	   <div class='footer_container'>footer</div>
    </div>
</body>
</html>
